<!DOCTYPE html>
<html>
<div th:replace="view/fragment/includes/includes :: heads"></div>
<script type="text/javascript">
	$(document).ready(function(){
		$(".nav-link").removeClass("active");
		$("#myInfo").addClass("active");
	});

</script>
</head>
<body>

<div th:include="view/fragment/header/Header :: copy" class="container">
</div>

<div sec:authorize="isAuthenticated()" class="container">
    <span sec:authentication="name"></span> 님 의 마이페이지~
</div>



</body>
</html>