<!DOCTYPE html>
<html>
<div th:replace="view/fragment/includes/includes :: heads"></div>
    
    <script type="text/javascript">
    $(function(){
    	var mesg = $("#mesg").val();
    	console.log(mesg);
    	console.log(mesg.length);
    	if(mesg.length != 0 || mesg != ""){ //mesg != null || mesg != undefined || 
    		alert(mesg);
    	}
    	
    	$("#login").click(function(){
    		login();
    	});
    });
    function login(){
    	var id = $("#id").val();
    	var pw = $("#pw").val();
    	if((id.length == 0 || id == "") && (pw.length == 0 || pw == "")){
    		alert("id + pw입력");
    		$("#id").focus();
    		return false;
    	}
    	if(id.length == 0 || id == ""){
    		alert("id입력");
    		$("#id").focus();
    		return false;
    	}
    	if(pw.length == 0 || pw == ""){
    		alert("pw입력");
    		$("#pw").focus();
    		return false;
    	}
		$("#loginForm").submit();	
    }
    function validation(){
    	
    	
    }
    </script>

</head>
<body>
<div th:include="view/fragment/header/Header :: copy" class="container">

</div>
<div class="container">
	<form th:action="@{/user/login/chk}" method="post" id="loginForm"> <!-- /user/login/result -->
	<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
	<input type="text" name="id" id="id" placeholder="id">
	<input type="password" name="pw" id="pw" placeholder="pw">
	<input type="button" value="로그인" id="login">
	</form>
</div>
<input type="hidden" id="mesg" th:value="${mesg}">
</body>
</html>