<!DOCTYPE html>
<html>
<div th:replace="view/fragment/includes/includes :: heads"></div>
</head>
<body>
<div th:include="view/fragment/header/Header :: copy" class="container">

</div>
<div class="container">
	signup~~
	<form th:action="@{/main/signup}" method="post">
		<input type="text" name="id" id="id" placeholder="id">
		<input type="password" name="pw" id="pw" placeholder="pw">
		<input type="text" name="name" id="name" placeholder="name">
		<input type="email" name="email" id="email" placeholder="email">
		<input type="text" name="address" id="address" placeholder="address">
		<input type="tel" name="phone" id="phone" placeholder="phone">
		<select name="gender">
			<option>M</option>
			<option>F</option>
		</select>
		<input type="submit" value="가입">
	</form>
</div>
</body>
</html>